*{
    /* border:1px solid black;  */
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins" ,sans-serif;
}
nav{position:fixed;
    top:0;
    left:0;
    
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 10%;
    z-index:10;
    Border-bottom:1px solid black;
}

nav .nav-logo{
    
    width:250px;

    
    
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin:10px 20px;
    font-weight:500;
    cursor:pointer;
}
.nav-btn{
    border:none;
    background:#000;
    color:#fff;
    border-radius:40px;
    padding:15px 25px;
}
.nav-btn img{
    width:16px;
    margin-left:8px;
}
.header{
    width:100%;
    min-height:100vh;
    background:linear-gradient(#eefff9 0% ,#ffccc1 49%, #dcdbff 100%);
    padding:0 10%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.header h1{
    font-size:13vw;
    line-height:11vw;
    margin-top:100px;
}
.btn-container{
    margin:20px 0;
}
.header button{
    border:0;
    outline:0;
    display:inline-flex;
    align-items:center;
    margin-right:20px;
    cursor: pointer;
    font-size: 18px;

}
 .btn-dark{
    background:#000;
    color:#fff;
    border-radius:40px;
    padding:10px 10px 10px 30px;
   
    
 }
 .btn-dark img{
    width:40px;
    background:#fff;
    border-radius:50%;
    padding:10px;
    margin-left:30px;
 }

 .btn-light{
    background:transparent;
    text-decoration:underline;
 }
 .btn-light img{
    width:20px;
    margin-left:10px;

 }
 .header p{
    max-width:360px;
    font-weight:500;
 }